<div class="main">
    <form action="/" method="post">
        <label for="personid"></label>
        <input type="number" name="personid" placeholder="PersonID">

        <label for="lastname"></label>
        <input type="text" name="lastname" placeholder="LastName">
    </form>
</div>